.navbar {
    border-radius: 0;
    background-color: white;
    border-bottom: 2.5px solid #20B2AA;
}

a.navbar-brand, .news h2, .aboutus h2.text-center {
    font-family: 'Joti One', cursive;
}

.text-about {
    color: white;
    font-family: 'Dancing Script', cursive;
    font-family: 'Macondo', cursive;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}

@media only screen and (max-width: 500px) {
    .text-about {
        font-size: 14px;
    }
}

.navbar-nav>.active>a {
    background-color: white !important;
    color: #20B2AA !important;
    font-weight: bold;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-control, select.form-control {
    border-radius: 0;
}

.panel-default {
    border: 0;
}

.panel-body {
    padding: 0;
}

.login{
    margin-top: 100px;
}

.footer {
    height: 100px;
}

.book-box .thumbnail {
    margin: 0;
    height: 250px;
}

.search-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.search-btn, .search-btn:hover {
    border-radius: 0;
    border-color: white;
    background-color: white;
}

.input-group .form-control {
    border: 0;
}

.book-session {
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 430px;
    background-color:#20B2AA;
    z-index: -5;
}

.news {
    margin-top: 80px;
    /* height: 600px; */
    /* background-color: antiquewhite; */
}

/* .main-news, .news-update {
    height: 400px;
} */

.news-item {
    /* height: 220px; */
    /* border-right: 1px solid #20B2AA; */
}

.main-news .thumbnail, .news-item .thumbnail {
    border: 0;
}

.news h2.text-center {
    margin-bottom: 25px;
}

.aboutus {
    height: 180px;
    background-color:#20B2AA;
}