.navbar {
    border-radius: 0;
    background-color: white;
    border-bottom: 2.5px solid #20B2AA;
}

a.navbar-brand {
    font-family: 'Joti One', cursive;
}

.navbar-nav>.active>a {
    background-color: white !important;
    color: #20B2AA !important;
    font-weight: bold;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.content {
    min-height: 450px;
}

.form-control {
    border-radius: 0;
}

.login{
    margin-top: 100px;
}

.footer {
    margin-top: 20px;
    height: 200px;
    background-color:#20B2AA;
    color: white;
}