<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menteng Library - Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'signup/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signup/custom/app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Joti+One">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#">Menteng Library</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#">Catalog</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'signup:profile' %}">My Profile</a></li>
                            <li><a href="{% url 'signup:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'signup:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'signup:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container content">
    {% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">Welcome to Menteng Library</div>
        </div>
    </div>

    {% endblock %}
    </div>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-4">
                <h1>Footer</h1>
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'signup/jquery/jquery.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'signup/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <!-- Load a custom JavaScript file -->
    <script src="{% static 'signup/custom/app.js' %}"></script>
  </body>
</html>