{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menteng Library - Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signup/bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'signup/slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'signup/slick/slick-theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'signup/custom/app.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Joti+One">
  </head>
  <body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="#">Menteng Library</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="{% url 'signup:catalog' %}">Catalog</a></li>
                    <li><a href="{% url 'signup:news' %}">News</a></li>
                    <li><a href="{% url 'signup:aboutus' %}">About Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'signup:profile' %}">My Profile</a></li>
                            <li><a href="{% url 'signup:logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{% url 'signup:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'signup:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container content">
    {% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 search-box">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="What is the book you're looking for ?">
                        <div class="input-group-btn">
                            <button class="btn btn-default search-btn"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="book-session"></div>

    <div class="row slick-box">
        {% for d in data %}
            <div class="col-xs-6 col-sm-4 col-md-3 book-box">
                <div class="thumbnail">
                    <img src={{ d.thumbnail.url }} alt="Book" style='height:150px'>
                    <div class="caption">
                        <b><a href="detail/{{d.id}}">{{ d.title }}</a></b>
                        <p>By: {{ d.author }}</p>
                        <!-- <p>
                        <a href="#" class="btn btn-sm btn-warning" role="button">Buy</a> 
                        <a href="#" class="btn btn-sm btn-default" role="button">Read</a>
                        </p> -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endblock %}
    </div>
    <div class="container-fluid footer">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">Footer</h4>
            </div>
        </div>
    </div>
    <script src="{% static 'signup/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'signup/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'signup/slick/jquery-migrate-1.2.1.min.js' %}"></script>
    <script src="{% static 'signup/slick/slick.min.js' %}"></script>
    <script src="{% static 'signup/custom/app.js' %}"></script>
  </body>
</html>